### 模块

In [1]:
def hi():
    print('Hi everyone, I love lsgogroup!')

In [33]:
import hello;

hello.hi()  # Hi everyone, I love lsgogroup!
hi()

SyntaxError: invalid character in identifier (hello.py, line 1)

In [34]:
def c2f(cel):
    fah = cel * 1.8 + 32
    return fah


def f2c(fah):
    cel = (fah - 32) / 1.8
    return cel

In [3]:
# TemperatureConversion.py
def c2f(cel):
    fah = cel * 1.8 + 32
    return fah


def f2c(fah):
    cel = (fah - 32) / 1.8
    return cel

In [7]:
import TemperatureConversion

print('32摄氏度 = %.2f华氏度' % TemperatureConversion.c2f(32))
print('99华氏度 = %.2f摄氏度' % TemperatureConversion.f2c(99))

32摄氏度 = 89.60华氏度
99华氏度 = 37.22摄氏度

In [9]:
import TemperatureConversion as tc

print('32摄氏度 = %.2f华氏度' % tc.c2f(32))
print('99华氏度 = %.2f摄氏度' % tc.f2c(99))

32摄氏度 = 89.60华氏度
99华氏度 = 37.22摄氏度

In [10]:
PI = 3.14


def main():
    print("PI:", PI)


main()

PI: 3.14

In [12]:
from const import PI


def calc_round_area(radius):
    return PI * (radius ** 2)


def main():
    print("round area: ", calc_round_area(2))


main()

PI: 3.14
round area:  12.56

In [13]:
PI = 3.14

def main():
    print("PI:", PI)

if __name__ == "__main__":
    main()

PI: 3.14

In [14]:
import const

print(__name__)
# __main__

print(const.__name__)

__main__
const

### datetime模块

SyntaxError: invalid syntax (<ipython-input-15-1322861e9312>, line 2)

In [16]:
import datetime

dt = datetime.datetime(year=2020, month=6, day=25, hour=11, minute=23, second=59)
print(dt)  # 2020-06-25 11:23:59
print(dt.timestamp())  # 1593055439.0

dt = datetime.datetime.fromtimestamp(1593055439.0)
print(dt)  # 2020-06-25 11:23:59
print(type(dt)) # <class 'datetime.datetime'>

dt = datetime.datetime.now()
print(dt)  # 2020-06-25 11:11:03.877853
print(type(dt))  # <class 'datetime.datetime'>

2020-06-25 11:23:59
1593055439.0
2020-06-25 11:23:59
<class 'datetime.datetime'>
2020-08-07 22:01:17.155309
<class 'datetime.datetime'>

In [17]:
import datetime

dt = datetime.datetime(year=2020, month=6, day=25, hour=11, minute=51, second=49)
s = dt.strftime("'%Y/%m/%d %H:%M:%S")
print(s)  # '2020/06/25 11:51:49

s = dt.strftime('%d %B, %Y, %A')
print(s)  # 25 June, 2020, Thursday

'2020/06/25 11:51:49
25 June, 2020, Thursday

In [18]:
import datetime

d1 = datetime.date(2010, 9, 28)
print(d1.strftime('%b-%d,%Y'))

Sep-28,2010

In [19]:
import datetime

dt = datetime.datetime(year=2020, month=6, day=25, hour=11, minute=51, second=49)
print(dt.date())  # 2020-06-25
print(type(dt.date()))  # <class 'datetime.date'>
print(dt.time())  # 11:51:49
print(type(dt.time()))  # <class 'datetime.time'>
print(dt.year)  # 2020
print(dt.month)  # 6
print(dt.day)  # 25
print(dt.hour)  # 11
print(dt.minute)  # 51
print(dt.second)  # 49
print(dt.isoweekday())

2020-06-25
<class 'datetime.date'>
11:51:49
<class 'datetime.time'>
2020
6
25
11
51
49
4

In [20]:
from dateutil import parser

s = '2020-06-25'
dt = parser.parse(s)
print(dt)  # 2020-06-25 00:00:00
print(type(dt))  # <class 'datetime.datetime'>

s = 'March 31, 2010, 10:51pm'
dt = parser.parse(s)
print(dt)  # 2010-03-31 22:51:00
print(type(dt))  # <class 'datetime.datetime'>

2020-06-25 00:00:00
<class 'datetime.datetime'>
2010-03-31 22:51:00
<class 'datetime.datetime'>

In [22]:
from dateutil import parser

s1 = "2010 Jan 1"
s2 = '31-1-2000'
s3 = 'October10, 1996, 10:40pm'

dt1 = parser.parse(s1)
dt2 = parser.parse(s2)
dt3 = parser.parse(s3)

print(dt1)  # 2010-01-01 00:00:00
print(dt2)  # 2000-01-31 00:00:00
print(dt3)

2010-01-01 00:00:00
2000-01-31 00:00:00
1996-10-10 22:40:00

In [23]:
import numpy as np
from dateutil import parser

dateString = ['Oct, 2, 1869', 'Oct, 10, 1869', 'Oct, 15, 1869', 'Oct, 20, 1869', 'Oct, 23, 1869']
dates = [parser.parse(i) for i in dateString]
td = np.diff(dates)
print(td)
# [datetime.timedelta(days=8) datetime.timedelta(days=5)
#  datetime.timedelta(days=5) datetime.timedelta(days=3)]
d = [i.days for i in td]
print(d)  # [8, 5, 5, 3]

[datetime.timedelta(days=8) datetime.timedelta(days=5)
 datetime.timedelta(days=5) datetime.timedelta(days=3)]
[8, 5, 5, 3]

In [25]:
class date:
    def __init__(self, year, month, day):
        pass
    def today(cls):
        pass

In [ ]:
import datetime

d = datetime.date(2020, 6, 25)
print(d)  # 2020-06-25
print(type(d))  # <class 'datetime.date'>

d = datetime.date.today()
print(d)  # 2020-06-25
print(type(d)

In [27]:
import datetime

d1 = datetime.date(1869, 1, 2)
d2 = datetime.date(1869, 10, 2)
dt = (d2 - d1).days
print(dt)
print(d1.isoweekday())  # 6
print(dt // 7 + 1)

273
6
40

In [28]:
import datetime

t = datetime.time(12, 9, 23, 12980)
print(t)  # 12:09:23.012980
print(type(t))

12:09:23.012980
<class 'datetime.time'>

In [29]:
import datetime

date = datetime.date(2019, 10, 2)
dt = datetime.datetime(date.year, date.month, date.day)
print(dt)  # 2019-10-02 00:00:00

dt = datetime.datetime.combine(date, datetime.time.min)
print(dt)

2019-10-02 00:00:00
2019-10-02 00:00:00

In [30]:
import datetime

td = datetime.timedelta(days=30)
print(td)  # 30 days, 0:00:00
print(type(td))  # <class 'datetime.timedelta'>
print(datetime.date.today())  # 2020-07-01
print(datetime.date.today() + td)  # 2020-07-31

dt1 = datetime.datetime(2020, 1, 31, 10, 10, 0)
dt2 = datetime.datetime(2019, 1, 31, 10, 10, 0)
td = dt1 - dt2
print(td)  # 365 days, 0:00:00
print(type(td))  # <class 'datetime.timedelta'>

td1 = datetime.timedelta(days=30)  # 30 days
td2 = datetime.timedelta(weeks=1)  # 1 week
td = td1 - td2
print(td)  # 23 days, 0:00:00
print(type(td))

30 days, 0:00:00
<class 'datetime.timedelta'>
2020-08-07
2020-09-06
365 days, 0:00:00
<class 'datetime.timedelta'>
23 days, 0:00:00
<class 'datetime.timedelta'>

In [31]:
from dateutil import parser
import datetime

bDay = 'Oct 2, 1969'
dt1 = parser.parse(bDay).date()
dt2 = datetime.date.today()
dt3 = datetime.date(dt2.year, dt1.month, dt1.day)
print(dt1)  # 1969-10-02
print(dt2)  # 2020-07-01
print(dt3)  # 2020-10-02

td = dt2 - dt1
print(td.days)  # 18535
td = dt3 - dt2
print(td.days)  # 93
print(td.days * 24 * 60 * 60)  # 8035200
print(td.total_seconds())

1969-10-02
2020-08-07
2020-10-02
18572
56
4838400
4838400.0