In [1]:
x = ['Monday','Tuesday','Wednesday','Thursday', 'Friday']
print(x,type(x))

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] <class 'list'>

In [2]:
x = [2,3,4,5,6,7]
print(x,type(x))

[2, 3, 4, 5, 6, 7] <class 'list'>

In [3]:
x = list(range(10))
print(x,type(x))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>

In [4]:
x = list(range(1, 11, 2))
print(x, type(x))

[1, 3, 5, 7, 9] <class 'list'>

In [5]:
x = list(range(10, 1, -2))
print(x, type(x))

[10, 8, 6, 4, 2] <class 'list'>

In [6]:
x= [0] * 5
print(x,type(x))

[0, 0, 0, 0, 0] <class 'list'>

In [7]:
x = [0 for i in range(5)]
print(x, type(x))

x = [i for i in range(10)]
print(x, type(x))

x = [i for i in range(1, 10, 2)]
print(x, type(x))

x = [i for i in range(10, 1, -2)]
print(x, type(x))

x = [i ** 2 for i in range(1, 10)]
print(x, type(x))

x = [i for i in range(100) if (i % 2) != 0 and (i % 3) == 0]
print(x, type(x))

[0, 0, 0, 0, 0] <class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>
[1, 3, 5, 7, 9] <class 'list'>
[10, 8, 6, 4, 2] <class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81] <class 'list'>
[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99] <class 'list'>

In [8]:
x = [[1,2,3],[4,5,6],[7,8,9],[0,0,0]]
print(x)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [0, 0, 0]]

In [9]:
for i in x:
    print(i,type(i))

[1, 2, 3] <class 'list'>
[4, 5, 6] <class 'list'>
[7, 8, 9] <class 'list'>
[0, 0, 0] <class 'list'>

In [10]:
x = [[0 for col in range(3)] for row in range(4)]
print(x, type(x))
x[0][0] = 1
print(x, type(x))
x = [[0] * 3 for row in range(4)]
print(x, type(x))
x[1][1] = 1
print(x, type(x))

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]] <class 'list'>
[[1, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]] <class 'list'>
[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]] <class 'list'>
[[0, 0, 0], [0, 1, 0], [0, 0, 0], [0, 0, 0]] <class 'list'>

In [11]:
x = [[0] * 3] * 4
print(x,type(x))

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]] <class 'list'>

In [12]:
x[0][0] = 1
print(x,type(x))

[[1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0]] <class 'list'>

In [13]:
a = [0] * 3
x = [a] * 4
print(x,type(x))

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]] <class 'list'>

In [14]:
x[0][0] = 1
print(x,type(x))

[[1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0]] <class 'list'>

In [15]:
mix = [1,'lsgo',3.14,[1,2,3]]
print(mix,type(mix))

[1, 'lsgo', 3.14, [1, 2, 3]] <class 'list'>

In [17]:
empty = []
print(empty,type(empty))

[] <class 'list'>

In [18]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.append('Thursday')
print(x)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Thursday']

In [19]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.append(['Thursday', 'Sunday'])
print(x)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', ['Thursday', 'Sunday']]

In [20]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.extend(['a','b'])
print(x)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'a', 'b']

In [21]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.insert(2,'Sunday')
print (x)

['Monday', 'Tuesday', 'Sunday', 'Wednesday', 'Thursday', 'Friday']

In [22]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.remove('Monday')
print(x)

['Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [24]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
y = x.pop()
print(y)
x

Friday

['Monday', 'Tuesday', 'Wednesday', 'Thursday']

In [25]:
y = x.pop(0)
print(y)

Monday

In [26]:
y = x.pop(-2)
print(y)  
print(x)

Wednesday
['Tuesday', 'Thursday']

In [27]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
del x[0:2]
x

['Wednesday', 'Thursday', 'Friday']

In [28]:
x = ['Monday', 'Tuesday', 'Wednesday', ['Thursday', 'Friday']]
print(x[0], type(x[0]))  # Monday <class 'str'>
print(x[-1], type(x[-1]))  # ['Thursday', 'Friday'] <class 'list'>
print(x[-2], type(x[-2]))

Monday <class 'str'>
['Thursday', 'Friday'] <class 'list'>
Wednesday <class 'str'>

In [29]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(x[3:])  # ['Thursday', 'Friday']
print(x[-3:])

['Thursday', 'Friday']
['Wednesday', 'Thursday', 'Friday']

In [30]:
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(week[:3])  # ['Monday', 'Tuesday', 'Wednesday']
print(week[:-3])

['Monday', 'Tuesday', 'Wednesday']
['Monday', 'Tuesday']

In [31]:
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(week[1:3])  # ['Tuesday', 'Wednesday']
print(week[-3:-1])

['Tuesday', 'Wednesday']
['Wednesday', 'Thursday']

In [32]:

week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(week[1:4:2])  # ['Tuesday', 'Thursday']
print(week[:4:2])  # ['Monday', 'Wednesday']
print(week[1::2])  # ['Tuesday', 'Thursday']
print(week[::-1])

['Tuesday', 'Thursday']
['Monday', 'Wednesday']
['Tuesday', 'Thursday']
['Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday']

In [33]:
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(week[:])

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [34]:
list1 = [123, 456, 789, 213]
list2 = list1
list3 = list1[:]

print(list2)  # [123, 456, 789, 213]
print(list3)  # [123, 456, 789, 213]
list1.sort()
print(list2)  # [123, 213, 456, 789] 
print(list3)  # [123, 456, 789, 213]

list1 = [[123, 456], [789, 213]]
list2 = list1
list3 = list1[:]
print(list2)  # [[123, 456], [789, 213]]
print(list3)  # [[123, 456], [789, 213]]
list1[0][0] = 111

[123, 456, 789, 213]
[123, 456, 789, 213]
[123, 213, 456, 789]
[123, 456, 789, 213]
[[123, 456], [789, 213]]
[[123, 456], [789, 213]]

In [39]:
lst=[2, 5, 6, 7, 8, 9, 2, 9, 9]
lst.append(15)  #在列表的末尾增加元素15
lst.insert(round(len(lst)/2),20) #在列表的中间位置插入元素20
lst1 = [2, 5, 6]
lst += lst1    #将列表[2, 5, 6]合并到lst中
lst.pop(3)     #移除列表中索引为3的元素
lst.reverse()  #翻转列表里的所有元素
lst.sort()     #从小到大排序
lst.sort(reverse=True)   #从大到小排序

In [ ]:
 lst[0] =lst[0] *2
 lst[1][0] = lst[1][0]*2
 lst[1][1] = lst[1][1]*2
 lst[2] = lst[2] * 2

In [ ]:
class Solution:
    def peakIndexInMountainArray(self, A: List[int]) -> int:
       
    # your code here

### 元组

创建和访问一个元组

In [40]:
t1 = (1, 10.31, 'python')
t2 = 1, 10.31, 'python'
print(t1, type(t1))
print(t2, type(t2))
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8)
print(tuple1[1])  
print(tuple1[5:])  
print(tuple1[:5])  
tuple2 = tuple1[:]
print(tuple2)

(1, 10.31, 'python') <class 'tuple'>
(1, 10.31, 'python') <class 'tuple'>
2
(6, 7, 8)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 8)

In [41]:
x = (1)
print(type(x))
x = 2, 3, 4, 5
print(type(x)) 
x = []
print(type(x))

<class 'int'>
<class 'tuple'>
<class 'list'>

In [42]:
print(8 * (8))  
print(8 * (8,))

64
(8, 8, 8, 8, 8, 8, 8, 8)

In [43]:
x = (1, 10.31, 'python'), ('data', 11)
print(x)


print(x[0])
# (1, 10.31, 'python')
print(x[0][0], x[0][1], x[0][2])
# 1 10.31 python

print(x[0][0:2])
# (1, 10.31)

((1, 10.31, 'python'), ('data', 11))
(1, 10.31, 'python')
1 10.31 python
(1, 10.31)

In [44]:
t1 = (1, 2, 3, [4, 5, 6])
print(t1)  # (1, 2, 3, [4, 5, 6])

t1[3][0] = 9
print(t1)

(1, 2, 3, [4, 5, 6])
(1, 2, 3, [9, 5, 6])

In [45]:
t1 = (123, 456)
t2 = (456, 123)
t3 = (123, 456)

print(t1 == t2)  # False
print(t1 == t3)  # True

t4 = t1 + t2
print(t4)  # (123, 456, 456, 123)

t5 = t3 * 3
print(t5)  # (123, 456, 123, 456, 123, 456)

t3 *= 3
print(t3)  # (123, 456, 123, 456, 123, 456)

print(123 in t3)  # True
print(456 not in t3)

False
True
(123, 456, 456, 123)
(123, 456, 123, 456, 123, 456)
(123, 456, 123, 456, 123, 456)
True
False

In [46]:
week = ('Monday', 'Tuesday', 'Thursday', 'Friday')
week = week[:2] + ('Wednesday',) + week[2:]
print(week)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [47]:
t1 = (1, 2, 3, [4, 5, 6])
print(t1)  # (1, 2, 3, [4, 5, 6])

t1[3][0] = 9

(1, 2, 3, [4, 5, 6])

In [48]:
t1 = (123, 456)
t2 = (456, 123)
t3 = (123, 456)

print(t1 == t2)  # False
print(t1 == t3)  # True

t4 = t1 + t2
print(t4)  # (123, 456, 456, 123)

t5 = t3 * 3
print(t5)  # (123, 456, 123, 456, 123, 456)

t3 *= 3
print(t3)  # (123, 456, 123, 456, 123, 456)

print(123 in t3)  # True
print(456 not in t3)  # False

False
True
(123, 456, 456, 123)
(123, 456, 123, 456, 123, 456)
(123, 456, 123, 456, 123, 456)
True
False

In [49]:
t = (1, 10.31, 'python')
print(t.count('python'))  # 1
print(t.index(10.31))  # 1

1
1

In [50]:
t = (1, 10.31, 'python')
(a, b, c) = t
print(a, b, c)

1 10.31 python

In [51]:
t = (1, 10.31, ('OK', 'python'))
(a, b, (c, d)) = t
print(a, b, c, d)

1 10.31 OK python

In [52]:
t = 1, 2, 3, 4, 5
a, b, *rest, c = t
print(a, b, c)  # 1 2 5
print(rest)  # [3, 4]

1 2 5
[3, 4]

In [53]:
t = 1, 2, 3, 4, 5
a, b, *_ = t
print(a, b)

1 2

In [55]:
(1, 2)*2

(1, 2, 1, 2)

In [56]:
(1, )*2

(1, 1)

In [57]:
(1)*2

2

*表示复制拼接，将(1,2)复制后拼接，(1,)同理；(1)2表示12，()表示运算符，元组中如果有一个元素，则要在后面加上逗号。

拆包就是将序列中的元素拆成一个一个数据的过程，如：去掉元组、列表、字典直接获取元素的过程。
不属于，上述是以拆包的形式定义变量，给变量赋值。
可迭代对象拆包时，怎么赋值给占位符？
在变量的前面加上通配符*

### 字符串

In [58]:
t1 = 'i love Python!'
print(t1, type(t1))
# i love Python! <class 'str'>

t2 = "I love Python!"
print(t2, type(t2))
# I love Python! <class 'str'>

print(5 + 8)  # 13
print('5' + '8')  # 58

i love Python! <class 'str'>
I love Python! <class 'str'>
13
58

In [59]:
print('let\'s go')

let's go

In [62]:
print("let's go")

let's go

In [63]:
print('C:\\now')

C:\now

In [64]:
print("C:\\Program Files\\Intel\\Wifi\\Help")

C:\Program Files\Intel\Wifi\Help

In [65]:
print(r'C:\Program Files\Intel\Wifi\Help')

C:\Program Files\Intel\Wifi\Help

In [68]:
para_str = """这是一个多行字符串的实例
多行字符串可以使用制表符
TAB ( \t )。
也可以使用换行符 [ \n ]。
"""
print(para_str)

这是一个多行字符串的实例
多行字符串可以使用制表符
TAB ( 	 )。
也可以使用换行符 [
 ]。

In [69]:
para_str = '''这是一个多行字符串的实例
多行字符串可以使用制表符
TAB ( \t )。
也可以使用换行符 [ \n ]。
'''

In [70]:
print(para_str)

这是一个多行字符串的实例
多行字符串可以使用制表符
TAB ( 	 )。
也可以使用换行符 [
 ]。

字符串的切片与拼接

In [71]:
str1 = 'I Love LsgoGroup'
print(str1[:6])  # I Love

I Love

In [72]:
print(str1[5])

e

In [73]:
print(str1[:6] + " 插入的字符串 " + str1[6:])

I Love 插入的字符串  LsgoGroup

In [74]:
s = 'Python'
print(s)  # Python
print(s[2:4])  # th
print(s[-5:-2])  # yth
print(s[2])  # t
print(s[-1])  # n

Python
th
yth
t
n

字符串的常用内置方法

In [75]:
str2 = 'xiaoxie'
print(str2.capitalize())

Xiaoxie

In [76]:
str2 = "DAXIExiaoxie"
print(str2.lower())  # daxiexiaoxie
print(str2.upper())  # DAXIEXIAOXIE
print(str2.swapcase())  # daxieXIAOXIE

daxiexiaoxie
DAXIEXIAOXIE
daxieXIAOXIE

In [77]:
str2 = "DAXIExiaoxie"
print(str2.count('xi'))

2

In [78]:
str2 = "DAXIExiaoxie"
print(str2.endswith('ie'))  # True
print(str2.endswith('xi'))  # False
print(str2.startswith('Da'))  # False
print(str2.startswith('DA'))  # True

True
False
False
True

In [79]:
str2 = "DAXIExiaoxie"
print(str2.find('xi'))  # 5
print(str2.find('ix'))  # -1
print(str2.rfind('xi'))  # 9

5
-1
9

In [80]:
str3 = '12345'
print(str3.isnumeric())  # True
str3 += 'a'
print(str3.isnumeric())  # False

True
False

In [83]:
str4 = '1101'
print(str4.ljust(8, '0'))

11010000

In [84]:
print(str4.rjust(8, '0'))

00001101

In [85]:
str5 = ' I Love LsgoGroup '
print(str5.lstrip())

I Love LsgoGroup

In [86]:
print(str5.lstrip().strip('I'))

 Love LsgoGroup

partition(sub) 找到子字符串sub，把字符串分为一个三元组(pre_sub,sub,fol_sub)，如果字符串中不包含sub则返回('原字符串','','')。
rpartition(sub)类似于partition()方法，不过是从右边开始查找。

In [87]:
str5 = ' I Love LsgoGroup '
print(str5.strip().partition('o'))  # ('I L', 'o', 've LsgoGroup')
print(str5.strip().partition('m'))  # ('I Love LsgoGroup', '', '')
print(str5.strip().rpartition('o'))  # ('I Love LsgoGr', 'o', 'up')

('I L', 'o', 've LsgoGroup')
('I Love LsgoGroup', '', '')
('I Love LsgoGr', 'o', 'up')

In [88]:
str5 = ' I Love LsgoGroup '
print(str5.strip().replace('I', 'We'))

We Love LsgoGroup

In [89]:
str5 = ' I Love LsgoGroup '
print(str5.strip().split())
print(str5.strip().split('o'))

['I', 'Love', 'LsgoGroup']
['I L', 've Lsg', 'Gr', 'up']

In [92]:
u = "www.baidu.com.cn"
print(u.split())

['www.baidu.com.cn']

In [93]:
print((u.split(".", 1)))

['www', 'baidu.com.cn']

In [94]:
c = '''say
hello
baby'''

print(c)

say
hello
baby

In [95]:
print(c.split('\n'))  # ['say', 'hello', 'baby']

['say', 'hello', 'baby']

In [101]:
string = "hello boy<[www.baidu.com]>byebye"
print(string.split('[')[1].split(']')[0])

www.baidu.com

In [102]:
print(string.split('[')[1].split(']')[0].split('.'))

['www', 'baidu', 'com']

In [104]:
str6 = 'I \n Love \n LsgoGroup'
print(str6.splitlines())
print(str6.splitlines(True))

['I ', ' Love ', ' LsgoGroup']
['I \n', ' Love \n', ' LsgoGroup']

In [105]:
str7 = 'this is string example....wow!!!'
intab = 'aeiou'
outtab = '12345'
trantab = str7.maketrans(intab, outtab)
print(trantab)  
print(str7.translate(trantab))

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}
th3s 3s str3ng 2x1mpl2....w4w!!!

 字符串格式化

In [106]:
str8 = "{0} Love {1}".format('I', 'Lsgogroup')  # 位置参数
print(str8)  

str8 = "{a} Love {b}".format(a='I', b='Lsgogroup')  # 关键字参数
print(str8)  

str8 = "{0} Love {b}".format('I', b='Lsgogroup')  # 位置参数要在关键字参数之前
print(str8)  

str8 = '{0:.2f}{1}'.format(27.658, 'GB')  # 保留小数点后两位
print(str8)

I Love Lsgogroup
I Love Lsgogroup
I Love Lsgogroup
27.66GB

1、字符串函数回顾
怎么批量替换字符串中的元素？str.replace()
怎么把字符串按照空格进⾏拆分？str.split()
怎么去除字符串⾸位的空格？str.lstrip()

2、实现isdigit函数
直接用isnumeric函数就可以实现

print(u.split())

In [ ]:
    def longestPalindrome(self, s: str) -> str:
        n = len(s)
        result = ''
        if n < 2:
            return s
        d = [[False for _ in range(n)] for _ in range(n)]
        for i in range(0, n):
                d[i][i] = True
        for j in range(0, n):
            for i in range(0, j+1):
                if j == i:
                    pass
                elif j == i+1:
                    d[i][i + 1] = (s[i] == s[i + 1])
                else:
                    d[i][j] = (d[i+1][j-1] and s[i] == s[j])
                if d[i][j] and ((j-i+1) > len(result)):
                    result = s[i:j+1]
        return result